
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            CV - Rogier
        </title>
    </head>
    <body>
        <h3>
            AUTOMATE
        </h3>
        <p>
            Mercari Automation.<br>
            Enter your credentials below:<br>
            <form action="/forminfo" method="post">
                Email: <input type="text" name="email">  <br />
                Password: <input type="text" name="password">  <br />
                Title: <input type="text" name="title">  <br />
                Product Description: <input type="text" name="description">  <br />
                Three Relevant Hashtags: <input type="text" name="hashtags">  <br />
                Weight: <input type="number" name="weight">  <br />
                How Often?(In minutes): <input type="number" name="often" />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>