
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            CV - Rogier
        </title>
    </head>
    <body>
        <h3>
            How Often?
        </h3>
        <p>
            Congrats! Your program is running<br>
            <form action="running" method="post">
                Need to quit?: <input type="text" name="quit" />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>